:root {
	--primary-color: #151515;
	--secondary-color: #ccc;
	--tertiary-color: #006666;

	--box-shadow: 0 0 1.2rem 0.1rem #004c4c;

	--radius: 0.5rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.container {
	height: 100%;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-block: 1rem;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: 100%;
	max-height: 400px;
	gap: 1rem;
	padding-block: 4rem;

	padding-inline: 1rem;
}

.col {
	flex: 1 1 250px;
	gap: 1rem;
}

/* Cards */

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0.5rem;
	border-radius: var(--radius);
	background-color: var(--secondary-color);
	box-shadow: var(--box-shadow);
	color: var(--primary-color);
}

.card-header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: var(--radius);
	color: var(--tertiary-color);
	margin-block-end: 1rem;
}

.card-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: var(--radius);
	color: var(--secondary-color);
	margin-block-start: 1rem;
}

/* Navbar */

.navbar {
	display: flex;
	justify-content: space-between;
	background-color: var(--primary-color);
	color: #fff;
	padding: 1.2rem;
}

.logo {
	text-align: center;
	margin-bottom: 0.5rem;
}

.logo a {
	font-size: 1.5rem;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

.menu {
	display: flex;
	gap: 1rem;
	font-size: 1rem;
}

input[type='checkbox'] {
	display: none;
}

.hamburger {
	display: none;
	font-size: 1.5rem;
	user-select: none;
}

.navLinks a {
	margin: 0 0.5rem 0 0.5rem;
	color: #fff;
	text-decoration: none;
}

.navLinks a:hover {
	text-decoration: underline;
}

/* Hero */

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	max-height: 600px;
	padding: 1rem;
}

.hero h1 {
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

.hero p {
	font-size: 1rem;
	margin-bottom: 1rem;
	text-align: center;
}

.avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 5px solid var(--secondary-color);
	margin-bottom: 1rem;
}

.avatar img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

/* Email sign up */
.signup-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 1rem;
	background: var(--tertiary-color);
}

.signup-form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.signup-input {
	flex-grow: 1;
	padding: 0.8rem;
	border: 0;
	border-radius: 4px;
	font-size: 1rem;
}

.signup-button {
	padding: 0.7rem 1rem;
	margin-left: 0.5rem;
	background-color: var(--primary-color);
	color: #fff;
	border: none;
	border-radius: 4px;
	font-size: 1rem;
	cursor: pointer;
}

/* Forms */

.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 1rem;

	margin-block-start: 150px;
}

.form h2 {
	margin-bottom: 1rem;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	border-radius: var(--radius);
	background: var(--primary-color);
	box-shadow: var(--box-shadow);

	padding: 1rem;
}

.form-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 1rem;
}

.form-control {
	width: 100%;
	padding: 0.8rem;
	border: 0;
	border-radius: 4px;
	font-size: 1rem;
}

.form-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	padding-block: 1rem;
	font-size: 0.8rem;
}

.form-nav a {
	color: var(--tertiary-color);
	text-decoration: none;
	font-weight: bold;
}

.form-nav a:hover {
	text-decoration: underline;
}

/* Buttons */

.btn {
	display: inline-block;
	padding: 0.7rem 1rem;
	margin: 0.5rem;
	border: none;
	border-radius: 4px;
	font-size: 1rem;
	cursor: pointer;
	width: 100%;
}

.btn-primary {
	background-color: var(--primary-color);
	color: #fff;
}

.btn-primary:hover {
	background-color: var(--primary-hover-color);
}

.btn-primary-outline {
	background-color: transparent;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

.btn-primary-outline:hover {
	background-color: var(--primary-color);
	color: #fff;
}

/* Footer */

.footer {
	margin-top: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 1rem;
	background: var(--primary-color);
	color: #fff;
}

.footer p a {
	color: var(--tertiary-color);
	text-decoration: none;
	font-weight: bold;
}

@media (max-width: 37.5em) {
	.hero {
		height: 100%;
		max-height: 400px;
	}
	.row {
		flex-direction: column;
		max-height: 100%;
	}
}

@media (max-width: 62.5em) {
	.menu {
		display: none;
		position: absolute;
		background-color: var(--primary-color);
		right: 0;
		left: 0;
		text-align: center;
		padding: 1rem 0;
	}

	.menu li:hover {
		display: inline-block;
		transition: display 0.3s ease-in-out;
	}

	.menu li + li {
		margin-top: 12px;
	}

	input[type='checkbox']:checked ~ .menu {
		display: block;
	}

	.hamburger {
		display: block;
	}

	.dropdown {
		left: 50%;
		top: 30px;
		transform: translateX(35%);
	}

	.dropdown li:hover {
		background-color: #4c9e9e;
	}
}
